<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>StudentManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>
com.sms.servlet.AddStudentServlet
</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>
/addStudent
</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewStudent</servlet-name>
    <servlet-class>
        com.sms.servlet.ViewStudentServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudent</servlet-name>
    <url-pattern>/viewStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditStudent</servlet-name>
    <servlet-class>
        com.sms.servlet.EditStudentServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/editStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>
        com.sms.servlet.UpdateStudentServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/updateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>
        com.sms.servlet.DeleteStudentServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>
        com.sms.servlet.ImageServlet
    </servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image</url-pattern>
</servlet-mapping>
</web-app>